/*
Luka Mayer
2/16/2024
IT202 Internet Applications | Section 006
Phase 1 Assignment: HTML5 and PHP Form
ldm29@njit.edu 
*/

body {
    border: 2px solid rgb(21, 35, 95);    
    border-radius: 10px;
    /* box-shadow: 5px 5px 0 0; */
    margin: 1em auto;
    padding: 25px;
    width: 95%;
    height: auto;
    background-image: transparent;
}

p, h1, h2, h3, body {
    font-family:'Poppins','Arial Narrow', Arial, sans-serif, 'Franklin Gothic Medium';
}

p.small {
    line-height: 1;
}

header h1 {
    font-size: 220%;
    text-align: center;
    font-style: bold;
    margin-bottom: .25em;
}

header h2 {
    text-align: center;
    font-style: italic;
    border-bottom: 2px solid gray;
}

h3 {
    font-size: 125%;
}

footer {
    margin-top: 2em;
    border-top: 2px solid gray;
    padding-top: auto;
    font-size: 90%;
}

ul {
    margin: 0 0 1.5em;
}

/* Unvisited */
a:link {
    color: blue;
}

/* Focus-Hover */
a:focus, a:hover {
    color: purple;
}

/* Active */
a:active {
    color: red;
}

/* Visited */
a:visited {
    color: rgba(37, 37, 37, 0.767);
}

html {
    background-image: linear-gradient(to bottom, rgb(159, 255, 255) 0%, rgba(100, 210, 238, 0.986));
}

img {
    margin-left: 5em;
    padding-top: 2em;
    float: center;
}
